@import "/public/node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "/public/node_modules/sweetalert2/dist/sweetalert2.min.css";
@import "/public/node_modules/@fontsource/roboto-condensed/300.css";
@import "/public/node_modules/@fontsource/roboto-condensed/400.css";
@import "/public/node_modules/@fontsource/roboto-condensed/700.css";
@import "/public/node_modules/bootstrap/dist/css/bootstrap.css";

@import "/public/components/admin-header/Header.css";
@import "/public/components/paginator/Paginator.css";
@import "/public/components/admin-nav/AdminNav.css";
@import "/public/components/user-nav/UserNav.css";
@import "/public/css/custom-table.css";

* {
    box-sizing: border-box;
}

html:root {
    --header-height: 70px;
    --main-padding: 15px;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Roboto Condensed', serif !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: font-size .3s ease-in-out;
}

html.no-scroll,
body.no-scroll {
    overflow: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 5px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: #848484;
}

main {
    min-height: inherit;
    background-color: #f1f1f1;
    padding: calc(var(--header-height) + var(--main-padding) + 15px) var(--main-padding) var(--main-padding) var(--main-padding);
    max-width: 100vw;
    height: auto;
    transition: padding-left .3s ease-in-out;
}

[data-theme="dark"] main {
    background-color: #191f2c;
    color: white;
}

/******************************************/

label {
    color: #424242;
    margin-bottom: .3rem;
}

[data-theme="dark"] label {
    color: #c7c7c7;
}

[data-theme="dark"] .btn:not(.btn-warning):not(.btn-primary):not(.btn-secondary) {
    color: white;
}

[data-theme="dark"] .form-control {
    background-color: #3c4e69;
    color: white;
    border-color: #253246;
}

[data-theme="dark"] .form-control::placeholder {
    color: #c0c2c5;
}

[data-theme="dark"] .input-group-text {
    background-color: #4c6388;
    color: white;
    border-color: #253246;
}

/******************************************/

.swal2-actions {
    margin-left: auto;
    margin-right: unset;
    padding-right: 1rem;
}

[data-theme="dark"] .swal2-popup,
[data-theme="dark"] .swal2-popup.swal2-toast {
    background-color: #242f3f;
    color: white;
}