.ContactForm {
    padding: 2rem 2.5rem;
    height: 100%;
    background-color: #272a32;
}

.ContactForm label {
    margin-bottom: 0.3rem;
}

.ContactForm .recaptcha {
    overflow: hidden
}

.ContactForm .submit-button {
    --background-color: #e0993e;
    --color: #ffffff;
    border: none;
    padding: 1rem 3.5rem;
    border-radius: .3rem;
    background-color: var(--background-color);
    color: var(--color);
}

.ContactForm .submit-button[disabled] {
    --background-color: #bec6d0;
    --color: #8a959f;
}

.ContactForm .submit-button:not([disabled]):focus {
    --background-color: #c7842d;
    outline: 1px solid #8a5a1d;
}

.ContactForm .submit-button:not([disabled]):hover {
    --background-color: #c7842d;
}