<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Contacto</title>
    </head>
    <body style="background-color: #f8f8f8; font-family: Arial, sans-serif; padding: 2rem">
        <div style="max-width: 600px; margin: 0 auto;">
            <h1 style="text-align: center; font-size: 28px; margin-top: 0">Contacto desde <b>arcoirisferretera.com.ar</b></h1>
            <table style="margin-top: 40px; width: 100%; border-collapse: collapse;">
                <tr style="background-color: #eee;">
                    <td style="padding: 10px; font-size: 16px; border: 1px solid #ccc; text-align: center; width: 30%;">Nombre:</td>
                    <td style="padding: 10px; font-size: 16px; border: 1px solid #ccc;"><!--[Name]--></td>
                </tr>
                <tr>
                    <td style="padding: 10px; font-size: 16px; border: 1px solid #ccc; text-align: center;">Email:</td>
                    <td style="padding: 10px; font-size: 16px; border: 1px solid #ccc;"><!--[Email]--></td>
                </tr>
                <tr style="background-color: #eee;">
                    <td style="padding: 10px; font-size: 16px; border: 1px solid #ccc; text-align: center;">Teléfono:</td>
                    <td style="padding: 10px; font-size: 16px; border: 1px solid #ccc;"><!--[Phone]--></td>
                </tr>
                <tr>
                    <td style="padding: 10px; font-size: 16px; border: 1px solid #ccc; text-align: center;">Mensaje:</td>
                    <td style="padding: 10px; font-size: 16px; border: 1px solid #ccc;"><!--[Message]--></td>
                </tr>
            </table>
        </div>
    </body>
</html>
